@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  src: url("../public//Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf"), format("regular");
}

#btn{
  background-image: linear-gradient(to right, #4e2ff5, #793aff);
  transition: all 0.2s ease-in-out;
}

#btn:hover{
  color: black;
  background-image: linear-gradient(to right, #ffb459, #ffb459) ;
}

#play:hover{
  background-image: linear-gradient(to right, #ffb459, #ffb459);
  border: #ffb459;
}

.active{
  color: #502ff5; 
  padding-bottom: 0.5rem;
}

.navbar{
  background-color: #fff;
  position: sticky;
  top: 0px;
  
}
.none{
  background-color: transparent;
  position: sticky;
  top: 0px;
  
}

#home_bg{
  background-image: url('../public/home_bg.webp');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#pay_bg{
  background-image: url('../public/assets/paytime_bg.webp');
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
}


#navbar_container{
  z-index: 99999;
}

#video{
  /* background-image: url("https://assets-global.website-files.com/635e20f77318521304947d8d/635e7fe2e19fbd717f0f8ceb_pexels-anthony-shkraba-production-compressesd-poster-00001.jpg&quot"); */

  background-image: url("https://assets-global.website-files.com/635e20f77318521304947d8d/635e7fe2e19fbd717f0f8ceb_pexels-anthony-shkraba-production-compressesd-poster-00001.jpg&quot");
}

#scaleVendor{
  animation: Vendor infinite 5s ease-in-out ;
}

@keyframes Vendor {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}